.main-container {
    display: flex;
    flex-direction: column;
}

.products-section {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    gap: 32px;
    .header-section {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        padding: 40px 24px 24px 24px;
        background: #ebebeb;
        .header-text {
            color: #1a1a1a;
            font-family: Sen, sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
        }

        .sub-text {
            color: #1a1a1a;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px; /*
            font-size: 1.5rem; /* Adjust font size */
        }
    }
    .products-container {
        background: #ebebeb;
        padding: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .product {
            margin: 20px 0;
            background: #fff;
            border-radius: 24px;
            max-height: 500px;
            height: 100%;
            max-width: 300px;
            width: 100%;
            border: 1px solid #ebebeb;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 24px;
            position: relative;
            .sale {
                position: absolute;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fa6d02;
                width: 64px;
                padding: 4px 8px;
                .sale-text {
                    color: #fff;
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.4rem;
                }
            }
            img {
                transition: transform 0.3s ease;
                border-radius: 16px;
            }

            img:hover {
                transform: scale(1.2);
            }
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                .product-heading {
                    font-family: "Manrope", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.5rem;
                }
                .product-text {
                    font-family: "Manrope", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.4rem;
                }
            }
        }
    }
}
