<div class="footer-container">
  <div class="footer-info">
    <div class="contact-section">
      <div class="contact-header">CONTACT US</div>
      <div class="contact-details">
        <div class="contact">
          <div class="link">
            <i class="pi pi-map-marker" style="font-size: 0.85rem"></i>
          </div>
          <div class="text">
            #202-20,UAE Enterprises Building, Behind Cargo Village, Airport
            Road, Al Garhoud,Dubai,UAE
          </div>
        </div>

        <div class="contact">
          <div class="link">
            <i class="pi pi-phone" style="font-size: 1rem"></i>
          </div>
          <div class="text">+971 50 677 5342</div>
        </div>
        <div class="contact">
          <div class="link">
            <i class="pi pi-inbox" style="font-size: 1rem"></i>
          </div>
          <div class="text">
            <a href="mailto:sales©nauticwavesmarine.com">
              sales©nauticwavesmarine.com</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="company">
      <div class="company-header">COMPANY</div>
      <div class="company-text">
        <div class="company-item" routerLink="/about-us">About Us</div>
        <div class="company-item" routerLink="/products">Products</div>
        <div class="company-item" routerLink="/brands">Brands</div>
      </div>
    </div>
    <div class="logo">
      <img
        src="../../../assets/images/nwm-white-logo.png"
        alt="logo"
        class="logo-image"
      />
    </div>
  </div>
  <div class="hor-line"></div>
  <div class="copyright">
    © Copyright 2020 by Nautic Waves Marine. All rights reserved.
  </div>
</div>
