<nautic-header></nautic-header>
<div class="about-us-container">
  <div class="vision-section">
    <img
      src="https://images.pexels.com/photos/7519244/pexels-photo-7519244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt="Vision"
    />
    <div class="overlay-text">
      <div class="header-text">OUR VISION</div>
      <div class="sub-text">
        To be a leading provider of cutting-edge marine equipment, contributing
        to safer, more efficient, and sustainable maritime operations worldwide.
      </div>
    </div>
  </div>
  <div class="mission-section">
    <img
      src="https://veepixel.com/tf/html/yawl/assets/images/yacht_ouline.png"
      alt="Vision"
    />
    <div class="content-section">
      <div class="heading">OUR MISSION</div>
      <div class="content">
        Our mission is to provide superior marine equipment solutions that
        enhance the safety, efficiency, and performance of Yachts/vessels
        operating in diverse maritime environments. We aim to be a trusted
        partner for our clients by offering top-notch products, exceptional
        customer service, and innovative solutions that cater to their unique
        needs.
      </div>
    </div>
  </div>

  <div class="core-values">
    <div class="heading-section">
      <div class="heading-text">The Values We Stand For</div>
      <div class="sub-text">What we at Nautic believe in above all else.</div>
    </div>
    <div class="value-section">
      <div class="value" *ngFor="let item of [0, 1, 2]">
        <img
          class="value-image"
          src="https://media.istockphoto.com/id/510079986/photo/inspector-at-commercial-dock.jpg?s=612x612&w=0&k=20&c=_NZwnojYQZtlXXoHkKtx1_iTDucXj2z_XmWN7I2WyNM="
        />
        <div class="content">
          <div class="value-heading">Quality</div>
          <div class="value-text">
            Highest quality marine equipment from renowned manufacturers
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nautic-footer></nautic-footer>
