<div class="main-container">
  <nautic-header></nautic-header>
  <div class="about-us-container">
    <div class="vision-section">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/images%2Fvision.jpg?alt=media&token=f47ff99d-3f8f-40e7-bc36-aff572c92691"
        alt="Vision"
      />
      <div class="content-section">
        <div class="heading">Our Vision</div>
        <div class="content">
          To be a leading provider of cutting-edge marine equipment,
          contributing to safer, more efficient, and sustainable maritime
          operations worldwide.
        </div>
      </div>
    </div>
    <div class="mission-section">
      <div class="content-section">
        <div class="heading">Our Mission</div>
        <div class="content">
          Our mission is to provide superior marine equipment solutions that
          enhance the safety, efficiency, and performance of Yachts/vessels
          operating in diverse maritime environments. We aim to be a trusted
          partner for our clients by offering top-notch products, exceptional
          customer service, and innovative solutions that cater to their unique
          needs.
        </div>
      </div>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/images%2Fcaptain2.jpg?alt=media&token=ff47eec2-6ca6-476e-89e5-b8d2d61ecd50"
        alt="Mission"
      />
    </div>

    <div class="core-values">
      <div class="heading-section">
        <div class="heading-text">The Values We Stand For</div>
        <div class="sub-text">What we at Nautic believe in above all else.</div>
      </div>
      <div class="value-section">
        <div class="value" *ngFor="let value of coreValues">
          <img class="value-image" [src]="value.img" />
          <div class="content">
            <div class="value-heading">{{ value.value }}</div>
            <div class="value-text">
              {{ value.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nautic-footer></nautic-footer>
</div>
