.main-container {
    display: flex;
    flex-direction: column;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    .vision-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 150px;
        background-color: #ebebeb;
        img {
            border-radius: 50%; /* Sets the border radius to 50% of the element's width and height, creating a circle */
            width: 250px; /* Adjust width as needed */
            height: 250px; /* Adjust height as needed */
            object-fit: cover;
        }
        .content-section {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 50%;
            .heading {
                font-family: "Syne", sans-serif;
                letter-spacing: 0.03em;
                margin-bottom: 0.3em;
                font-weight: 700;
                font-size: 2.5rem;
                color: #303746;
            }
            .content {
                color: #161718;
                font-family: "Manrope", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }
    }
    .mission-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 150px;
        background-color: #fff;
        img {
            border-radius: 50%; /* Sets the border radius to 50% of the element's width and height, creating a circle */
            width: 300px; /* Adjust width as needed */
            height: 300px; /* Adjust height as needed */
            object-fit: cover;
        }
        .content-section {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 50%;
            .heading {
                font-family: "Syne", sans-serif;
                letter-spacing: 0.03em;
                margin-bottom: 0.3em;
                font-weight: 700;
                font-size: 2.5rem;
                color: #303746;
            }
            .content {
                color: #161718;
                font-family: "Manrope", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }
    }
    .core-values {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 24px;
        margin-top: 40px;
        background-color: #ebebeb;
        .heading-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .heading-text {
                font-family: "Syne", sans-serif;
                letter-spacing: 0.03em;
                margin-bottom: 0.3em;
                font-weight: 700;
                font-size: 2.5rem;
                color: #303746;
            }
            .sub-text {
                font-family: "Manrope", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }
        .value-section {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 24px;
            .value {
                display: flex;
                flex-direction: column;
                gap: 16px;
                align-items: center;
                width: 400px;
                margin-bottom: 48px;

                .value-image {
                    border-radius: 50%; /* Sets the border radius to 50% of the element's width and height, creating a circle */
                    width: 200px; /* Adjust width as needed */
                    height: 200px; /* Adjust height as needed */
                    object-fit: cover;
                    transition: transform 0.5s ease; /* Smooth transition for transform property */
                }

                .value-image:hover {
                    animation: flip 1s ease; /* Play the flip animation on hover */
                    /* Rotate the image 360 degrees on hover */
                    content: url("https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/images%2Fcore-value.jpg?alt=media&token=cc39cf54-0947-41cd-9903-eb8b328d79b0");
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    .value-heading {
                        font-family: "Syne", sans-serif;
                        letter-spacing: 0.03em;
                        margin-bottom: 0.3em;
                        font-weight: 700;
                        font-size: 24px;
                    }
                    .value-text {
                        font-family: "Manrope", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .about-us-container {
        margin-top: 200px;
    }
    .vision-section,
    .mission-section {
        flex-direction: column;
        padding: 10px !important;
        text-align: center;
    }

    .vision-section img,
    .mission-section img {
        width: 200px;
        height: 200px;
    }

    .content-section {
        .heading {
            margin-top: 16px;
        }
        width: 100% !important;
        margin-bottom: 16px !important;
    }

    .value {
        width: 100% !important;
    }
}
