.main-container {
    display: flex;
    flex-direction: column;
}

.products-services-container {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    .products-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        background: #ebebeb;
        padding: 24px;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .heading-text {
                font-family: Sen, sans-serif;
                letter-spacing: 0.03em;
                margin-bottom: 0.3em;
                font-weight: 700;
                font-size: 2.5rem;
            }
            .sub-text {
                font-family: "Manrope", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }
        .products-container {
            background: #ebebeb;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .product {
                position: relative;
                margin: 20px 0;
                height: 450px;
                width: 400px;
                border-radius: 4px;
                border: 1px solid #ebebeb;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 24px;
                cursor: pointer;
                transition: transform 0.5s ease;
                .product-header {
                    position: absolute;
                    animation: moveDown 1s forwards;
                    margin: 0 24px;
                    font-family: "Manrope", sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.8rem;
                    color: #fff;
                }
            }
            .product:hover {
                transform: scale(1.1);
                .product-header {
                    color: #ffc300;
                }
            }
        }
    }
}

@keyframes moveDown {
    0% {
        left: -50px;
        transform: translateY(-50px); /* Initial position */
    }
    100% {
        left: 0;
        transform: translateY(100px); /* Final position */
    }
}
