.main-container {
    display: flex;
    flex-direction: column;
}

.products-services-container {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    .products-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        background: #ebebeb;
        padding: 40px 24px 24px 24px;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .heading-text {
                font-family: Sen, sans-serif;
                letter-spacing: 0.03em;
                margin-bottom: 0.3em;
                font-weight: 700;
                font-size: 2.5rem;
            }
            .sub-text {
                font-family: "Manrope", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }
        .products-container {
            background: #ebebeb;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .product {
                margin: 20px 0;
                height: 450px;
                width: 400px;
                border-radius: 4px;
                border: 1px solid #ebebeb;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                cursor: pointer;

                .product-image {
                    height: 350px;
                    width: 100%;
                    object-fit: cover;
                }
                .product-header {
                    padding: 24px;
                    background: #fa6d02;
                    height: 100px;
                    width: 100%;
                    .heading {
                        font-family: "Manrope", sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 1.8rem;
                        color: #fff; /* Dark gray */
                    }
                }
            }
            // .product:hover {
            //     transform: scale(1.1);
            //     .product-header {
            //         color: black;
            //     }
            // }
        }
    }
}

@keyframes moveDown {
    0% {
        left: -50px;
        transform: translateY(-50px); /* Initial position */
    }
    100% {
        left: 0;
        transform: translateY(100px); /* Final position */
    }
}
