<div class="main-container">
  <nautic-header></nautic-header>
  <div class="products-services-container">
    <div class="products-section">
      <div class="header">
        <div class="heading-text">Products And Services</div>
        <div class="sub-text">
          Offering informed consultancy to navigate equipment selection and
          industry regulations.
        </div>
      </div>
      <div class="products-container">
        <div
          class="product"
          *ngFor="let item of prodcuts"
          (click)="showProducts(item.page)"
          [style.backgroundImage]="
            'url(' +
            'https://media.istockphoto.com/id/916076908/photo/supply-vessel.jpg?s=612x612&w=0&k=20&c=CeI3Qp3h7QwdJBh3vISuYQ_rCw295LLPWj5ZnKtjTuE=' +
            ')'
          "
        >
          <div class="product-header">
            {{ item.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <nautic-footer></nautic-footer>
</div>
