<div class="header-container">
  <div class="left-container">
    <div class="logo">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/nwm-logo.png?alt=media&token=66c28e66-3322-441f-8858-6d5e88c794d5"
        alt="logo"
        class="logo-image"
      />
    </div>
    <div class="menu-bar">
      <div
        class="menu"
        routerLink="/"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div class="menu-item">Home</div>
      </div>
      <div class="menu" routerLink="/about-us" routerLinkActive="selected">
        <div class="menu-item">About Us</div>
      </div>
      <div class="menu with-icon" routerLinkActive="selected">
        <div class="menu-item" routerLink="/products-services">
          Products And Services
        </div>
        <div class="icon" (click)="toggleDropdown()">
          <i
            [class]="isDropdownOpen ? 'pi pi-caret-up' : 'pi pi-caret-down'"
            style="font-size: 1rem"
          ></i>
        </div>
      </div>
      <div class="dropdown-content" [ngClass]="{ show: isDropdownOpen }">
        <div class="link" (click)="showProducts(products.Navigation)">
          {{ productNameMap[products.Navigation] }}
        </div>
        <div class="link" (click)="showProducts(products.LifeSaving)">
          {{ productNameMap[products.LifeSaving] }}
        </div>
        <div class="link" (click)="showProducts(products.FireFighting)">
          {{ productNameMap[products.FireFighting] }}
        </div>
        <div class="link" (click)="showProducts(products.Indicators)">
          {{ productNameMap[products.Indicators] }}
        </div>
        <div class="link" (click)="showProducts(products.Electrics)">
          {{ productNameMap[products.Electrics] }}
        </div>
      </div>
      <div class="menu" routerLink="/brands" routerLinkActive="selected">
        <div class="menu-item">Brands</div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <!-- <div class="social-links">
      <div class="link">
        <i class="pi pi-facebook" style="font-size: 1rem"></i>
      </div>
      <div class="link">
        <i class="pi pi-linkedin" style="font-size: 1rem"></i>
      </div>
      <div class="link">
        <i class="pi pi-twitter" style="font-size: 1rem"></i>
      </div>
      <div class="link">
        <i class="pi pi-instagram" style="font-size: 1rem"></i>
      </div>
    </div> -->
    <div class="contact-section">
      <div class="contact">
        <div class="link">
          <i class="pi pi-inbox" style="font-size: 1rem"></i>
        </div>
        <div class="text">
          <a href="mailto:sales©nauticwavesmarine.com">
            sales&#64;nauticwavesmarine.com</a
          >
        </div>
      </div>
      <div class="contact">
        <div class="link">
          <i class="pi pi-phone" style="font-size: 1rem"></i>
        </div>
        <div class="text">+971 50 677 5342</div>
      </div>
    </div>
  </div>
</div>
