.header-container {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
    // background-image: linear-gradient(to right, #fff, #0cdedb);
    // background: #303746;
    padding: 8px 40px;
    position: fixed;
    z-index: 1001;
    background-color: #fff; /* Adjust transparency as needed */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/home%2Ffooter-bg.jpg?alt=media&token=99dc8977-800f-400c-941e-20a6924b0661);
    // backdrop-filter: blur(10px); /* Adjust blur amount as needed */
    object-fit: contain;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    .left-container {
        display: flex;
        gap: 64px;
        align-items: center;
        .logo {
            .logo-image {
                width: 96px;
                height: auto;
            }
        }
        .menu-bar {
            display: flex;
            align-items: center;
            gap: 40px;
            position: relative;
            .menu {
                display: flex;
                cursor: pointer;
                .menu-item {
                    font-size: 16px;
                    font-family: "Roboto", sans-serif;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    padding: 6px;
                }

                .icon {
                    margin-top: 4px;
                    color: #ffff;
                }

                .menu-item:hover {
                    background-color: #1a1a1a; /* Blue color */
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    border-radius: 6px;
                }
            }
            .with-icon {
                display: flex !important;
                align-items: center !important;
                gap: 8px !important;
            }
            .selected .menu-item {
                color: #ff6b1e;
            }
            .dropdown-content {
                display: none;
                background-color: #fff;
                position: absolute;
                padding: 16px 0;
                right: 32px;
                top: 48px;
                align-items: center;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                .link {
                    padding: 16px;
                    cursor: pointer;
                    color: #1a1a1a;
                    width: 100%;
                }
                .link:hover {
                    background-color: #ff6b1e;
                }
            }
            .show {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
    .middle-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-container {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 28px;
        .social-links {
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            .link {
                width: 28px;
                height: 28px;
                background-color: white;
                border-radius: 50%;
                margin-right: 20px;
                display: flex;
                justify-content: center; /* horizontally center the content */
                align-items: center;
            }
        }
        .contact-section {
            display: flex;
            gap: 20px;
            .contact {
                display: flex;
                gap: 10px;
                color: #fff;
                align-items: center;
                .link {
                    width: 28px;
                    height: 28px;
                    color: white;
                    border-radius: 50%;
                    background-color: coral;
                    display: flex;
                    justify-content: center; /* horizontally center the content */
                    align-items: center;
                }
                .text {
                    color: #ffff;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 40px;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/* Dropdown visibility on small screens */
@media (max-width: 480px) {
    .menu-item {
        font-size: 14px; /* Adjust font size for mobile */
    }
}

.mobile-menu {
    .mobile-menu-content {
        display: flex;
        align-items: center;
        gap: 40px;
        position: relative;
        .menu {
            display: flex;
            cursor: pointer;
            .menu-item {
                font-size: 16px;
                font-family: "Roboto", sans-serif;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                padding: 6px;
            }

            .icon {
                margin-top: 4px;
                color: #ffff;
            }

            .menu-item:hover {
                background-color: #1a1a1a; /* Blue color */
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                border-radius: 6px;
            }
        }
        .with-icon {
            display: flex !important;
            align-items: center !important;
            gap: 8px !important;
        }
        .selected .menu-item {
            color: #ff6b1e;
        }
        .dropdown-content {
            display: none;
            background-color: #fff;
            position: absolute;
            padding: 16px 0;
            right: 32px;
            top: 48px;
            align-items: center;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            .link {
                padding: 16px;
                cursor: pointer;
                color: #1a1a1a;
                width: 100%;
            }
            .link:hover {
                background-color: #ff6b1e;
            }
        }
        .show {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.mobile-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
    padding: 8px 40px;
    position: fixed;
    z-index: 1001;
    background-color: #fff; /* Adjust transparency as needed */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/home%2Ffooter-bg.jpg?alt=media&token=99dc8977-800f-400c-941e-20a6924b0661);
    // backdrop-filter: blur(10px); /* Adjust blur amount as needed */
    object-fit: contain;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    .left-container {
        display: flex;
        gap: 24px;
        align-items: center;
        .mobile-menu-icon {
            cursor: pointer;
            display: block;
            color: #fff;
        }
        .logo {
            width: 64px;
            height: 64px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .right-container {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 28px;

        .contact-section {
            display: flex;
            gap: 20px;
            .contact {
                display: flex;
                gap: 10px;
                color: #fff;
                align-items: center;
                .link {
                    width: 28px;
                    height: 28px;
                    color: white;
                    border-radius: 50%;
                    background-color: coral;
                    display: flex;
                    justify-content: center; /* horizontally center the content */
                    align-items: center;
                }
                .text {
                    color: #ffff;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 40px;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

p-sidebar {
    .menu-container {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        gap: 10px; /* Space between items */
        padding: 15px; /* Padding around the container */
    }

    .menu {
        display: flex;
        align-items: center; /* Center items vertically */
        padding: 10px; /* Padding inside each menu item */
        background-color: #fff; /* Background color for menu items */
        border: 1px solid #e0e0e0; /* Border around each item */
        border-radius: 5px; /* Rounded corners for items */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition:
            background-color 0.3s ease,
            transform 0.2s ease; /* Smooth hover effect */
    }

    .menu:hover {
        background-color: #f0f0f0; /* Light gray background on hover */
        transform: scale(1.02); /* Slight zoom effect on hover */
    }

    .menu-item {
        font-size: 16px; /* Font size for item labels */
        color: #333; /* Text color */
        margin: 0 auto; /* Center the text */
    }

    .selected {
        background-color: #f0f0f0; /* Highlight selected item */
        color: #fff; /* White text for selected item */
        font-weight: bold; /* Make the selected item stand out */
    }
}

@media (max-width: 768px) {
    .header-container {
        display: none;
    }
    .mobile-header-container {
        height: 200px;
        flex-direction: column;
        padding: 8px 20px;
    }

    .left-container {
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        .logo {
            width: 48px;
            height: 48px;
        }
    }

    .right-container {
        align-items: center;
        flex-direction: row;
        gap: 10px;
        margin-top: 10px;

        .contact-section {
            flex-direction: column;
            align-items: center;
            gap: 10px !important;
            .contact {
                flex-direction: row;
                gap: 5px;
                font-size: 12px;
                .link {
                    width: 24px;
                    height: 24px;
                }

                .text {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
}
