<div class="header-container">
  <div class="left-container">
    <div class="logo">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/nwm-logo.png?alt=media&token=66c28e66-3322-441f-8858-6d5e88c794d5"
        alt="logo"
        class="logo-image"
      />
    </div>
  </div>
  <div class="middle-container">
    <div class="menu-bar">
      <div class="menu"><div class="menu-item" routerLink="/">Home</div></div>
      <div class="menu">
        <div class="menu-item" routerLink="/about-us">About Us</div>
      </div>
      <div class="menu">
        <div class="menu-item" routerLink="/products-services">
          Products And Services
        </div>
      </div>
      <div class="menu">
        <div class="menu-item" routerLink="/brands">Brands</div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <!-- <div class="social-links">
      <div class="link">
        <i class="pi pi-facebook" style="font-size: 1rem"></i>
      </div>
      <div class="link">
        <i class="pi pi-linkedin" style="font-size: 1rem"></i>
      </div>
      <div class="link">
        <i class="pi pi-twitter" style="font-size: 1rem"></i>
      </div>
      <div class="link">
        <i class="pi pi-instagram" style="font-size: 1rem"></i>
      </div>
    </div> -->
    <div class="contact-section">
      <div class="contact-email">
        <a class="link" href="mailto:sales©nauticwavesmarine.com">
          <i class="pi pi-inbox" style="font-size: 0.85rem"></i>
          sales©nauticwavesmarine.com</a
        >
      </div>
      <div class="phone-number">
        <i class="pi pi-phone" style="font-size: 0.85rem"></i> +971 50 677 5342
      </div>
    </div>
  </div>
</div>
