<nautic-header></nautic-header>
<div class="home-container">
  <div class="vision-section">
    <img
      src="https://images.pexels.com/photos/262353/pexels-photo-262353.jpeg?auto=compress&cs=tinysrgb&w=800"
      alt="Vision"
    />
    <div class="overlay-text">
      <div class="header-text">OUR VISION</div>
      <div class="sub-text">
        To be a leading provider of cutting-edge marine equipment, contributing
        to safer, more efficient, and sustainable maritime operations worldwide.
      </div>
    </div>
  </div>
  <div class="mission-section">
    <img
      src="https://veepixel.com/tf/html/yawl/assets/images/yacht_ouline.png"
      alt="Vision"
    />
    <div class="content-section">
      <div class="heading">OUR MISSION</div>
      <div class="content">
        Our mission is to provide superior marine equipment solutions that
        enhance the safety, efficiency, and performance of Yachts/vessels
        operating in diverse maritime environments. We aim to be a trusted
        partner for our clients by offering top-notch products, exceptional
        customer service, and innovative solutions that cater to their unique
        needs.
      </div>
    </div>
  </div>
  <div class="core-values">
    <div class="heading-section">
      <div class="heading-text">The Values We Stand For</div>
      <div class="sub-text">What we at Nautic believe in above all else.</div>
    </div>
    <div class="value-section">
      <div class="value" *ngFor="let item of [0, 1, 2]">
        <img
          class="value-image"
          src="https://media.istockphoto.com/id/510079986/photo/inspector-at-commercial-dock.jpg?s=612x612&w=0&k=20&c=_NZwnojYQZtlXXoHkKtx1_iTDucXj2z_XmWN7I2WyNM="
        />
        <div class="content">
          <div class="value-heading">Quality</div>
          <div class="value-text">
            Highest quality marine equipment from renowned manufacturers
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="products-section">
    <div class="heading-section">
      <div class="heading-text">Products And Services</div>
      <div class="sub-text">
        Offering informed consultancy to navigate equipment selection and
        industry regulations.
      </div>
    </div>
    <div class="services-container">
      <div class="first-service">
        <img
          class="logo-image"
          src="https://media.istockphoto.com/id/510079986/photo/inspector-at-commercial-dock.jpg?s=612x612&w=0&k=20&c=_NZwnojYQZtlXXoHkKtx1_iTDucXj2z_XmWN7I2WyNM="
        />
        <div class="service-content">
          <div class="content">
            <div class="service-title">Marine Equipment Trading</div>
            <div class="service-text">
              We offer a diverse range of marine equipment, including but not
              limited to:
            </div>
            <div class="equipments">
              <div class="equipment">
                <div class="dot"></div>
                <div class="product">
                  Navigation and Communication Equipment
                </div>
              </div>
              <div class="equipment">
                <div class="dot"></div>
                <div class="product">Safety and Lifesaving Equipment</div>
              </div>
              <div class="equipment">
                <div class="dot"></div>
                <div class="product">Engine Room Machinery and Spare Parts</div>
              </div>
              <div class="equipment">
                <div class="dot"></div>
                <div class="product">Deck Machinery and Accessories</div>
              </div>
              <div class="equipment">
                <div class="dot"></div>
                <div class="product">Electrical and Electronics Systems</div>
              </div>
              <div class="equipment">
                <div class="dot"></div>
                <div class="product">Anchoring and Mooring Solutions</div>
              </div>
            </div>
          </div>
          <div class="product-btn">
            <div class="btn-text">View Products</div>
            <div class="btn-icon"><i class="pi pi-arrow-right"></i></div>
          </div>
        </div>
      </div>
      <div class="second-service">
        <div class="service-content">
          <div class="content">
            <div class="service-title">
              Equipment Maintenance and Repair Services
            </div>
            <div class="service-text">
              Our team of skilled technicians provides expert maintenance and
              repair services to ensure the optimal performance and longevity of
              marine equipment.
            </div>
          </div>
          <div class="product-btn">
            <div class="btn-text">View Products</div>
            <div class="btn-icon"><i class="pi pi-arrow-right"></i></div>
          </div>
        </div>
        <img
          class="logo-image"
          src="https://media.istockphoto.com/id/510079986/photo/inspector-at-commercial-dock.jpg?s=612x612&w=0&k=20&c=_NZwnojYQZtlXXoHkKtx1_iTDucXj2z_XmWN7I2WyNM="
        />
      </div>
    </div>
  </div>
  <div class="brands-section">
    <div class="heading-section">
      <div class="heading-text">Major Brands</div>
      <div class="sub-text">
        Brands that have been trusted by our clients for years
      </div>
    </div>
    <div class="sonar-container">
      <div class="sonar"></div>
      <div class="logo-section">
        <div
          class="logo-container"
          *ngFor="let circle of circles"
          [style.margin]="circle.margin"
        >
          <img
            class="logo-image"
            src="https://media.istockphoto.com/id/510079986/photo/inspector-at-commercial-dock.jpg?s=612x612&w=0&k=20&c=_NZwnojYQZtlXXoHkKtx1_iTDucXj2z_XmWN7I2WyNM="
          />
          <div class="logo-title">Company</div>
        </div>
      </div>
    </div>
  </div>
</div>
