<div class="main-container">
  <nautic-header></nautic-header>
  <div class="home-container">
    <div class="vision-section">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/home%2Fhome-main.jpg?alt=media&token=18cbc49e-28bf-4d77-9d73-307d258dc66e"
        alt="Vision"
      />
      <div class="overlay-text">
        <div class="header-text">HIGHSEAS MARINE EQUIPMENT TRADING L.L.C</div>
        <div class="sub-text"></div>
        <div class="product-btn" (click)="navigateToProducts()">
          <div class="btn-text">View Products</div>
        </div>
      </div>
    </div>
    <div class="services-container">
      <div class="first-service">
        <img
          class="logo-image"
          src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/images%2Fship5.jpg?alt=media&token=210b1b29-8969-40e3-a9ce-8b64ffa2326f"
        />
        <div class="service-content">
          <div class="content">
            <div class="service-title">Nautic Waves Marine</div>
            <div class="service-text">
              Nautic Waves Marine is a premier provider of marine equipment
              trading and services. With a dedication to excellence and a
              commitment to serving the maritime industry, we offer a
              comprehensive range of high-quality marine equipment and reliable
              services to support the needs of Yacht/ship owners, operators, and
              other stakeholders. Our mission is to contribute to the
              efficiency, safety, and sustainability of marine operations
              worldwide
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="products-section">
      <div class="heading-section">
        <div class="heading-text">Products And Services</div>
        <div class="sub-text">
          Offering informed consultancy to navigate equipment selection and
          industry regulations.
        </div>
      </div>
      <div class="services-container">
        <div class="first-service">
          <img
            class="logo-image"
            src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/images%2Fship4.jpg?alt=media&token=0c28cfd6-efff-4a78-95e9-f397901fac3b"
          />
          <div class="service-content">
            <div class="content">
              <div class="service-title">Marine Equipment Trading</div>
              <div class="service-text">
                We offer a diverse range of marine equipment, including but not
                limited to:
              </div>
              <div class="equipments">
                <div class="equipment">
                  <div class="dot"></div>
                  <div class="product">
                    Navigation and Communication Equipment
                  </div>
                </div>
                <div class="equipment">
                  <div class="dot"></div>
                  <div class="product">Safety and Lifesaving Equipment</div>
                </div>
                <div class="equipment">
                  <div class="dot"></div>
                  <div class="product">
                    Engine Room Machinery and Spare Parts
                  </div>
                </div>
                <div class="equipment">
                  <div class="dot"></div>
                  <div class="product">Deck Machinery and Accessories</div>
                </div>
                <div class="equipment">
                  <div class="dot"></div>
                  <div class="product">Electrical and Electronics Systems</div>
                </div>
                <div class="equipment">
                  <div class="dot"></div>
                  <div class="product">Anchoring and Mooring Solutions</div>
                </div>
              </div>
            </div>
            <div class="product-btn" (click)="navigateToProducts()">
              <div class="btn-text">View Products</div>
              <div class="btn-icon"><i class="pi pi-sign-in"></i></div>
            </div>
          </div>
        </div>
        <div class="second-service">
          <div class="service-content">
            <div class="content">
              <div class="service-title">
                Equipment Maintenance and Repair Services
              </div>
              <div class="service-text">
                Our team of skilled technicians provides expert maintenance and
                repair services to ensure the optimal performance and longevity
                of marine equipment.
              </div>
            </div>
            <div class="product-btn" (click)="navigateToProducts()">
              <div class="btn-text">View Products</div>
              <div class="btn-icon"><i class="pi pi-sign-in"></i></div>
            </div>
          </div>
          <img
            class="logo-image"
            src="https://firebasestorage.googleapis.com/v0/b/nautic-waves.appspot.com/o/home%2Fequipment-services.jpg?alt=media&token=3f632912-f069-4944-8f6a-5363f321a73e"
          />
        </div>
      </div>
    </div>
    <div class="brands-section">
      <div class="heading-section">
        <div class="heading-text">Major Brands</div>
        <div class="sub-text">
          Brands that have been trusted by our clients for years
        </div>
      </div>
      <div class="sonar-container">
        <!-- <div class="sonar"></div> -->
        <!-- <div class="logo-section">
          <div class="logo-container" [@slide] *ngFor="let brand of majorBrands">
            <img class="logo-image" [src]="brand.logo" />
            <div class="logo-title">{{ brand.name }}</div>
          </div>
        </div> -->
        <!-- <div [@slide] *ngFor="let brand of majorBrands" class="slider">
          <img class="logo-image" [src]="brand.logo" alt="Sliding Image" />
        </div> -->
        <p-carousel
          [value]="images"
          [numVisible]="5"
          [numScroll]="2"
          [autoplayInterval]="2000"
          [circular]="true"
        >
          <ng-template pTemplate="item" let-image>
            <div class="logo-container">
              <img class="logo-image" [src]="image" alt="Image" />
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
  <nautic-footer></nautic-footer>
</div>
