@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
.main-container {
    display: flex;
    flex-direction: column;
}

.home-container {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    .vision-section {
        img {
            width: 100%;
            height: 900px;
            display: block;
        }
        .overlay-text {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }

        .header-text {
            color: #303746;
            font-family: "Syne", sans-serif;
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 150%;
        }

        .sub-text {
            color: #fff;
            font-family: "Syne", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px; /*
            font-size: 1.5rem; /* Adjust font size */
        }
        .product-btn {
            width: fit-content;
            display: flex;
            padding: 12px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 30px;
            background: var(--primary-dark-green-01967-b, #b5c83e);
            border: 1px solid var(--Primary-Dark_green_01967B, #fff);
            margin-top: 32px;
            cursor: pointer;
            .btn-text {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
            }
        }
    }
    .services-container {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        .first-service {
            max-height: 420px;
            height: 100%;
            padding: 24px;
            background: #303746;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            gap: 100px;
            img {
                border-radius: 24px;
                height: 330px;
            }
            .service-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 28px;
                    padding: 16px;
                    .service-title {
                        font-family: Sen, sans-serif;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1rem;
                        color: #fff;
                    }
                    .service-text {
                        font-family: "Manrope", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.8rem;
                        color: #fff;
                    }
                    .equipments {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding-left: 40px;
                        .equipment {
                            display: flex;
                            gap: 8px;
                            align-items: center;
                            .dot {
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #fff;
                            }
                            .product {
                                font-family: "Manrope", sans-serif;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.8rem;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .second-service {
            height: 300px;
            padding: 24px;
            border-radius: 16px;
            background: #303746;
            display: flex;
            align-items: center;
            gap: 100px;
            img {
                border-radius: 24px;
                height: 250px;
            }
            .service-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 24px 24px 24px 0;
                height: 300px;
                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    .service-title {
                        font-family: Sen, sans-serif;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.8rem;
                        color: #fff;
                    }
                    .service-text {
                        font-family: "Manrope", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.8rem;
                        color: #fff;
                    }
                }
                .product-btn {
                    width: fit-content;
                    display: flex;
                    padding: 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 30px;
                    background: var(--primary-dark-green-01967-b, #b5c83e);
                    border: 1px solid var(--Primary-Dark_green_01967B, #fff);
                    cursor: pointer;
                    .btn-text {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                    }
                    .btn-icon {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center; /* horizontally center the content */
                        align-items: center;
                    }
                }
            }
        }
    }
    .products-section {
        display: flex;
        flex-direction: column;
        padding: 24px;
        margin-top: 40px;
        background-color: #ebebeb;
        .heading-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .heading-text {
                font-family: Sen, sans-serif;
                letter-spacing: 0.03em;
                margin-bottom: 0.3em;
                font-weight: 700;
                font-size: 2.5rem;
            }
            .sub-text {
                font-family: "Manrope", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }
        .services-container {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .first-service {
                max-height: 420px;
                height: 100%;
                padding: 24px;
                border-radius: 16px;
                background: #303746;
                display: flex;
                align-items: center;
                gap: 100px;
                img {
                    border-radius: 24px;
                    height: 330px;
                }
                .service-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 24px 24px 24px 0;
                    align-items: flex-end;
                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .service-title {
                            font-family: Sen, sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 1.8rem;
                            color: #fff;
                        }
                        .service-text {
                            font-family: "Manrope", sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.8rem;
                            color: #fff;
                        }
                        .equipments {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            padding-left: 40px;
                            .equipment {
                                display: flex;
                                gap: 8px;
                                align-items: center;
                                .dot {
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #fff;
                                }
                                .product {
                                    font-family: "Manrope", sans-serif;
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 1.8rem;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .product-btn {
                        width: fit-content;
                        display: flex;
                        padding: 12px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 30px;
                        background: var(--primary-dark-green-01967-b, #b5c83e);
                        border: 1px solid var(--Primary-Dark_green_01967B, #fff);
                        cursor: pointer;
                        .btn-text {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 20px;
                        }
                        .btn-icon {
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center; /* horizontally center the content */
                            align-items: center;
                        }
                    }
                }
            }
            .second-service {
                height: 300px;
                padding: 24px;
                border-radius: 16px;
                background: #303746;
                display: flex;
                align-items: center;
                gap: 100px;
                img {
                    border-radius: 24px;
                    height: 250px;
                }
                .service-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-end;
                    padding: 24px 24px 24px 0;
                    height: 300px;
                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .service-title {
                            font-family: Sen, sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 1.8rem;
                            color: #fff;
                        }
                        .service-text {
                            font-family: "Manrope", sans-serif;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.8rem;
                            color: #fff;
                        }
                    }
                    .product-btn {
                        width: fit-content;
                        display: flex;
                        padding: 12px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 30px;
                        background: var(--primary-dark-green-01967-b, #b5c83e);
                        border: 1px solid var(--Primary-Dark_green_01967B, #fff);
                        cursor: pointer;
                        .btn-text {
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 20px;
                        }
                        .btn-icon {
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center; /* horizontally center the content */
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .radar {
        width: 200px; /* Adjust width as needed */
        height: 200px; /* Adjust height as needed */
        background-color: black; /* Blue background */
        // border-radius: 50%; /* Creates a circular shape */
        position: relative;
    }

    /* Add multiple pseudo-elements to create additional circles */
    .radar::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 50%;
        animation: radarAnimation 2s linear infinite; /* Apply the radar animation */
    }

    /* Additional keyframes for the radar animation */
    @keyframes radarAnimation {
        0% {
            transform: translate(-50%, -50%) scale(0.1);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }
    }

    .brands-section {
        display: flex;
        flex-direction: column;
        gap: 56px;
        padding: 40px;
        margin-top: 40px;
        background-color: hsl(0, 0%, 92%);
        .heading-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .heading-text {
                font-family: Sen, sans-serif;
                letter-spacing: 0.03em;
                margin-bottom: 0.3em;
                font-weight: 700;
                font-size: 2.5rem;
            }
            .sub-text {
                font-family: "Manrope", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.8rem;
            }
        }
        .logo-section {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            z-index: 2;
            min-height: 360px;
            height: 100%;

            .logo-container {
                display: flex;
                flex-direction: column;
                gap: 32px;
                align-items: center;
                // cursor: pointer;
                margin: 0 20px;

                .logo-image {
                    // border-radius: 50%; /* Sets the border radius to 50% of the element's width and height, creating a circle */
                    width: 160px; /* Adjust width as needed */
                    height: 80px; /* Adjust height as needed */
                    object-fit: fill;
                    transition: scaleLogo 1s ease; /* Smooth transition for transform property */
                }

                .logo-title {
                    text-align: center;
                    opacity: 0;
                    font-family: "Manrope", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.8rem;
                    color: #fff;
                }

                @keyframes scaleLogo {
                    0% {
                        transform: scale(0);
                        opacity: 1;
                    }
                    100% {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }

            // .logo-container:hover {
            //     .logo-image {
            //         transform: scale(1.2);
            //         margin-bottom: 8px;
            //     }
            //     .logo-title {
            //         opacity: 1;
            //         padding: 12px;
            //         background: #303746;
            //         border-radius: 16px;
            //         font-family: "Manrope", sans-serif;
            //         font-size: 14px;
            //         font-style: normal;
            //         font-weight: 400;
            //         line-height: 1rem;
            //         color: #fff;
            //         margin-top: 10px;
            //         transform: scale(1);
            //     }
            // }
        }
    }
}

.sonar-container {
    // position: relative;
    width: 100%;
    max-height: 420px;
    height: 100%;

    // overflow: hidden;
    .slider {
        width: 300px; /* Adjust to your needs */
        overflow: hidden;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.sonar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #303746 0%, rgba(255, 255, 255, 0) 50%);
    animation: sonarAnimation 2s infinite;
}

@keyframes sonarAnimation {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

::ng-deep {
    .p-carousel {
        .logo-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
            margin: 0 20px;

            .logo-image {
                width: 160px; /* Adjust width as needed */
                height: 80px; /* Adjust height as needed */
                object-fit: fill;
                transition: scaleLogo 1s ease; /* Smooth transition for transform property */
            }
        }
    }
}
